//- 
//- Copyright (c) 2017 DrSmugleaf
//- 

doctype html
html(lang="en")
  head
    include ../../partials/header
  body
    include ../../partials/navigation
    
    div.jumbotron
    
    div.container
      div.row
        div.col-md-2
          p Test
        div.col-md-10
          div.row
            div.col-md-2
              button
                span
                |   Alakazam
            div.col-md-2
              p Test
            div.col-md-2
              p Test
            div.col-md-2
              p Test
            div.col-md-2
              p Test
            div.col-md-2
              p Test
          div.row
            div.table-responsive
              table.table.table-striped.table-hover
                thead
                  tr
                    th Tier
                    th Name
                    th Types
                    th Abilities
                    th HP
                    th Attack
                    th Defend
                    th Sp. Attack
                    th Sp. Defense
                    th Speed
                    th TOTAL
                  tbody
                    tr
                      td OU
                      td Alakazam-Mega
                      td Psychic
                      td Trace
                      td 55
                      td 50
                      td 65
                      td 175
                      td 105
                      td 150
                      td 600
      div.row
        
      include ../../partials/footer
