//
// Copyright (c) 2017 DrSmugleaf
//

doctype html
html(lang="en")
  head
    include ../../partials/header
  body
    include ../../partials/navigation

    div.container
      div.row
        div.col-md-12
          div.error-template
            h1 Oops!
            h2 404 Not Found
            div.error-details Sorry, an error has occurred
            div.error-actions
              a.btn.btn-primary.btn-lg(href="/")
                span.glyphicon.glyphicon-home
                |   Go back

    include ../../partials/footer
