//
// Copyright (c) 2017 DrSmugleaf
//

doctype html
html(lang="en")
  head
    include ../partials/header
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Banter Bot
          
    div.jumbotron
      div.container
        h1 Banter Bot
        p Both a Discord Bot and a website
    
    div.container
      div.row
        div.col-md-4
          h2 Mango Deliveries
          p Mango Deliveries is a freighting system in Eve Online for the corporation Pandemic Horde.
          p
            a(class="btn btn-default" href="/eve/eve" role="button") Submit contract &raquo;
        div.col-md-4
          h2 GitHub
          p The code for this website and Banter Bot is hosted on GitHub.
          p
            a(class="btn btn-default" href="https://github.com/DrSmugleaf/Banter-Bot" role="button") View repository &raquo;
        div.col-md-4
          h2 Discord Server
          p Join Banter Bot's Discord server if you need support with any of its features.
          p
            a(class="btn btn-default" href="https://discord.gg/yyDWNBr" role="button") Join server &raquo;
    
    include ../partials/footer
