//
// Copyright (c) 2017 DrSmugleaf
//

doctype html
html(lang="en")
  head
    include ../partials/header
  body
    include ../partials/navigation

    div.jumbotron
      div.container
        h1 Mango Deliveries
        p Welcome to Horde's finest Delivery service. We buy and ship your stuff for you. Select an Image to choose your destination. We offer a 24-hour guarantee of delivery.

    div.container.text-center
      div.col-md-6.col-md-offset-3
        div#submit-alert.alert(role="alert")
      form(method="post" action="/submit")
        div#image_container
          if(destinations)
            - for(var i = 0; i < destinations.length; i++) {
              - if(i % 3 === 0) {
                div.row
              - }
                  div(class=i % 3 === 0 ? "col-md-2 col-md-offset-3" : "col-md-2")
                    div.panel.panel-default
                      div.panel-heading=destinations[i].name
                      div.panel-body(style="padding: 0px;")
                        img(class="img-responsive center-block" src=destinations[i].image value=destinations[i].name width="100%")
            - }
        div.row
          div.col-md-6.col-md-offset-3
            div.form-group
              div.panel.panel-default
                div.panel-heading Contract
                div.panel-body
                  div.form-group
                    div.row
                      label.col-md-3(for="link") Appraisal link
                      div.col-md-6
                        input(name="link" type="text" class="form-control" id="link" placeholder="http://evepraisal.com/e/16231499" autocomplete="off" data-toggle="tooltip" title="")
                      div(class="col-md-3")
                        div.input-group
                          label(class="sr-only" for="multiplier") Multiplier
                          input(name="multiplier" type="text" class="form-control" id="multiplier" placeholder="1" autocomplete="off")
                          div.input-group-addon x
                  div.form-group
                    div.row
                      label.col-md-3(for="destination") Destination
                      div.col-md-9
                        input(name="destination" class="form-control" type="text" id="destination" autocomplete="off" readonly)
                  div.form-group
                    div.row
                      label.col-md-3(for="jita-sell") Jita Sell
                      div.col-md-9
                        div.input-group
                          input(class="form-control" type="text" id="jita-sell" autocomplete="off" readonly)
                          div.input-group-addon ISK
                  div.form-group
                    div.row
                      label.col-md-3(for="quote") Quote
                      div.col-md-9
                        div.input-group
                          input(class="form-control" type="text" id="quote" autocomplete="off" readonly)
                          div.input-group-addon ISK
                  div.form-group
                    button(type="submit" class="btn btn-primary") Create Contract

    include ../partials/footer
    script.
      function query() {
        $.ajax({
          type: "GET",
          url: "/query",
          data: {
            link: $("#link").val(),
            multiplier: $("#multiplier").val(),
            destination: $("#destination").val()
          },
          dataType: "json",
          success: function(res) {
            $(".parent-has-error").attr("data-original-title", '').tooltip("fixTitle").tooltip("hide")
            $(".has-error").removeClass("has-error")
            $("#jita-sell").val(res.jita + " (" + res.jitaShort + ")")
            $("#quote").val(res.quote + " (" + res.quoteShort + ")")
          },
          error: function(res) {
            if(res.responseJSON.alert) {
              $("div#submit-alert")
                .removeClass("alert-success")
                .addClass("alert-danger")
                .text(res.responseJSON.alert)
              if($("div#submit-alert").parent("a").length > 0) return
              $("div#submit-alert").wrap("<a href='javascript:window.location.replace(\"login\")'></a>")
            } else {
              $(".parent-has-error").attr("data-original-title", '').tooltip("fixTitle").tooltip("hide")
              $(".has-error").removeClass("has-error")
              for(var element in res.responseJSON.invalid) {
                if(!res.responseJSON.invalid.hasOwnProperty(element)) return
                $(element).addClass("parent-has-error")
                if($(element).parents(".input-group", ".btn-group").length) {
                  $(element).tooltip({ container: "body" })
                }
                $(element).parent().addClass("has-error")
                $(element).prop("title", res.responseJSON.invalid[element]).tooltip("fixTitle").tooltip("show")
              }
            }
          }
        }).done()
      }

      var timer = 0
      $("input").on("input", function() {
        clearTimeout(timer)
        timer = setTimeout(function() {
          query()
        }, 500)
      })

      $("form").submit(function(e) {
        $.ajax({
          type: $(this).attr("method"),
          url: $(this).attr("action"),
          data: $(this).serialize(),
          dataType: "json",
          success: function(res) {
            $("div#submit-alert")
              .removeClass("alert-danger")
              .addClass("alert-success")
              .text(res.alert)
            if($("div#submit-alert").parent("a").length > 0) return
            $("div#submit-alert").wrap("<a href='javascript:window.location.replace(\"contracts\")'></a>")
          },
          error: function(res) {
            if(res.responseJSON.alert) {
              $("div#submit-alert")
                .removeClass("alert-success")
                .addClass("alert-danger")
                .text(res.responseJSON.alert)
              if($("div#submit-alert").parent("a").length > 0) return
              $("div#submit-alert").wrap("<a href='javascript:window.location.replace(\"login\")'></a>")
            } else {
              for(var element in res.responseJSON) {
                if(!res.responseJSON.hasOwnProperty(element)) return
                if($(element).parents(".input-group", ".btn.group").length > 0) {
                  $(element).tooltip({ container: "body" })
                }
                $(element).parent().addClass("has-error")
                $(element).prop("title", res.responseJSON[element]).tooltip("fixTitle").tooltip("show")
              }
            }
          }
        }).done()
        return false
      })

    script.
      $("div#image_container div div").click(function(e) {
        $("input#destination").val($("img", this).attr("value"))
        $("div#image_container div div img").css("outline", "")
        $("img", this).css("outline", "4px solid #0088CC")
        query()
        e.preventDefault()
        e.stopPropagation()
      })

    script.
      $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip()
      })
