//- 
//- Copyright (c) 2017 DrSmugleaf
//- 

doctype html
html(lang="en")
  head
    include ../partials/header
  body
    include ../partials/navigation
    
    div.jumbotron
      div.container
        h1 Banter Bot
    
    div.container
      div.row
    
      include ../partials/footer
