//
// Copyright (c) 2017 DrSmugleaf
//

doctype html
html(lang="en")
  head
    include ../../partials/header
  body
    include ../../partials/eve/navigation
    
    div.jumbotron
      div.container
        h1 Mango Deliveries
        p Director Panel
    
    div.container.text-center
      div#submit-alert.alert(role="alert")
      ul.nav.nav-tabs.nav-justified
        li
          a(onclick="showFreighterPanel(this)") Freighter Panel
        li
          a(onclick="showItemTypePanel(this)") Item Type Panel
        li
          a(onclick="showItemGroupPanel(this)") Item Group Panel
      div#freighterPanel(style="display: none;")
        form(method="post" action="/eve/director/submit/freighter")
          div.panel.panel-default
            div.panel-heading Freighter Panel
            div.panel-body
              div.form-group
                div.row
                  label.col-md-3(for="freighter")
                  div.col-md-6
                    input(name="freighter" type="text" class="form-control" id="freighter" placeholder="DrSmugleaf Aulmais" autocomplete="off" data-toggle="tooltip" title="")
              div.form-group
                div.row
                  button.btn.btn-success(type="submit" value="add" style="margin-right: 5px;") Add Freighter
                  button.btn.btn-danger(type="submit" value="remove") Remove Freighter
        div.table-responsive
          table.table.table-striped
            thead
              tr
                th Portrait
                th Character ID
                th Character Name
                th Corporation Name
                th Alliance Name
            tbody
      div#itemTypePanel(style="display: none;")
        form(method="/eve/director/submit/item")
          div.panel.panel-default
            div.panel-heading Item Type Panel
            div.panel-body
              div.form-group
                div.row
                  label.col-md-3(for="item")
                  div.col-md-6
                    input(name="item" type="text" class="form-control" id="item" placeholder="Cargo Container" autocomplete="off" data-toggle="tooltip" title="")
              div.form-group
                div.row
                  button.btn.btn-danger(type="submit" value="remove") Ban Item Type
                  button.btn.btn-success(type"submit" value="add" style="margin-right: 5px;") Allow Item Type

        div.table-responsive
          table.table.table-striped
            thead
              tr
                th Type ID
                th Group ID
                th Type Name
                th Description
                th Mass
                th Volume
                th Capacity
            tbody
      div#itemGroupPanel(style="display: none;")
        form(method="/eve/director/submit/group")
          div.panel.panel-default
            div.panel-heading Item Group Panel
            div.panel-body
              div.form-group
                div.row
                  label.col-md-3(for="group")
                  div.col-md-6
                    input(name="group" type="text" class="form-control" id="group" placeholder="Frigate" autocomplete="off" data-toggle="tooltip" title="")
              div.form-group
                div.row
                  button.btn.btn-danger(type="submit" value="remove") Ban Item Group
                  button.btn.btn-success(type"submit" value="add" style="margin-right: 5px;") Allow Item Group
        div.table-responsive
          table.table.table-striped
            thead
              tr
                th Group ID
                th Category ID
                th Group Name
            tbody
    
    include ../../partials/footer
    script.
      function showFreighterPanel(e) {
        $("ul.nav.nav-tabs.nav-justified li").removeClass("active")
        $(e).parent("li").addClass("active")
        $("form").parent("div").hide()
        $("#freighterPanel").show()
      }
      
      function showItemTypePanel(e) {
        $("ul.nav.nav-tabs.nav-justified li").removeClass("active")
        $(e).parent("li").addClass("active")
        $("form").parent("div").hide()
        $("#itemTypePanel").show()
      }
      
      function showItemGroupPanel(e) {
        $("ul.nav.nav-tabs.nav-justified li").removeClass("active")
        $(e).parent("li").addClass("active")
        $("form").parent("div").hide()
        $("#itemGroupPanel").show()
      }
