//
// Copyright (c) 2017 DrSmugleaf
//

doctype html
html(lang="en")
  head
    include ../../partials/header
  body
    include ../../partials/eve/navigation
    
    div.jumbotron
      div.container
        h1 Mango Deliveries
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    div.container.text-center
      form(method="post" action="/eve/submit")
        div.form-group
          div.col-md-6.col-md-offset-3
            div.panel.panel-default
              div.panel-heading Contract
              div.panel-body
                div.form-group
                  div.row
                    label.col-md-3(for="link") Appraisal link
                    div.col-md-5
                      input(name="link" type="text" class="form-control" id="link" placeholder="http://evepraisal.com/e/15821432" autocomplete="off")
                    div(class="col-md-3")
                      div.input-group
                        label(class="sr-only" for="multiplier") Multiplier
                        input(name="multiplier" type="text" class="form-control" id="multiplier" placeholder="1" autocomplete="off")
                        div.input-group-addon x
                div.form-group
                  div.row
                    label.col-md-3(for="destination") Destination
                    div.col-md-8
                      select#destination.form-control
                        option 7RM-N0
                        option GME-PQ
                        option B-9C24
                div.form-group
                  div.row
                    label.col-md-3(for="jita-sell") Jita Sell
                    div.col-md-8
                      div.input-group
                        input(class="form-control" type="text" id="jita-sell" autocomplete="off" readonly)
                        div.input-group-addon ISK
                div.form-group
                  div.row
                    label.col-md-3(for="quote") Quote
                    div.col-md-8
                      div.input-group
                        input(class="form-control" type="text" id="quote" autocomplete="off" readonly)
                        div.input-group-addon ISK
                div.form-group
                  button(type="submit" class="btn btn-primary") Create Contract
    
    include ../../partials/footer
    script.
      $("#link").change(function() {
        $.ajax({
          type: "GET",
          url: "/eve/query",
          data: {
            link: $("#link").val(),
            multiplier: $("#multiplier").val()
          },
          success: function(res) {
            $("#cost").val(res.result + " (" + res.resultShort + ")")
          }
        }).done()
      })
