//
// Copyright (c) 2017 DrSmugleaf
//

doctype html
html(lang="en")
  head
    include ../../partials/header
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Mango Deliveries
        div#navbar.navbar-collapse.collapse
          form.navbar-form.navbar-right
            div.form-group
              a(href="/eve/eve") Home
    
    div.jumbotron
      div.container
        form.form-inline
          div.form-group
            input(name="link" type="text" class="form-control" placeholder="Evepraisal/Skyblade link")
          button(type="submit" class="btn btn-default") Submit contract
    
    
    include ../../partials/footer
