//
// Copyright (c) 2017 DrSmugleaf
//

doctype html
html(lang="en")
  head
    include ../../partials/header
  body
    include ../../partials/navigation
    
    div.container
      div.row
        div.col-md-12
          div.error-template
            h1 Unauthorized
            h2 Your alliance/corporation isn't allowed to submit contracts, or you have been banned
            div.error-details If you believe this to be a mistake, please contact a director from Mango Deliveries
            
    include ../../partials/footer
