//
// Copyright (c) 2016-2017 DrSmugleaf
//

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --
meta(name="description" content="")
meta(name="author" content="")
link(rel="icon" type="image/svg+xml" href="./favicon.svg")
link(rel="icon" type="image/png" href="./favicon.png")
link(link rel="manifest" href="./manifest.json")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="theme-color" content="#ffffff")
title #{title || "Mango Deliveries"}
// Bootstrap core CSS
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

// IE10 viewport hack for Surface/desktop Windows 8 bug
link(href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet")

// Custom styles for this template
link(href="/stylesheets/index.css" rel="stylesheet")

// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
